<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesiones</title>
</head>
<body>
    <h1>Listado de Sesiones</h1>
    <ul>
        {% for session in sessions %}
            <li>
                {{ session[1] }} - Fecha: {{ session[2] }}
                <a href="{{ url_for('attendance', session_id=session[0]) }}">
                    <button>Pasar Asistencia</button>
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('admin') }}">
        <button>Ir al Panel de Administración</button>
    </a>
</body>
</html>